.appContainer {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: var(--primary-bg-color);
    display: flexbox;
    flex-direction: column;
    overflow: hidden;
}