@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.appContainer {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: var(--primary-bg-color);
    display: flexbox;
    flex-direction: column;
    overflow: hidden;
}

.title {
    display: flex;
    background-color: var(--primary-accent-color);
    font-size: 60px;
    color: #f0f0f0;
    font-family: "Gugi";
    margin: 0 20px;
    user-select: none;
    align-self: center;
    text-wrap: balance;

    @media (max-width:959px) {
        display: relative;
        font-size: 7.3vw;
    }
}

.selfie {
    margin-left: auto;
    max-width: 100%;
    height: auto;
    width: auto\9;

    @media (max-width:959px) {
        max-width: 50%;
    }
}