@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #111111;
  --secondary-bg-color: #333333;
  --primary-accent-color: #C56D00;
  --secondary-accent-color: #3034d2;
}

#root {
  height: 100vh;
}
