.cardWrapper {
  border: solid;
  height: 400px;
  width: 600px;
  padding: 30px;
  display: flex;

  @media (max-width:959px) {
    height: 250px;
    max-width: 300px;
    min-width: 200px;
  }
}

.center {
  margin: 0 auto;

  * {
    margin: 0 auto;
  }
}

.pic {
  max-height: 300px;
  max-width: 600px;
  object-fit: cover;
  border-radius: 10px;
  z-index: 10;
  aspect-ratio: auto;

  @media (max-width:959px) {
    max-width: 40%;
    height: auto;
    width: auto;
  }
}

.paragraph {
  align-content: center;
  font-size: large;

  p {
    margin-bottom: 20px;
    line-height: 1.5;
    width: fit-content;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width:959px) {
    font-size: small;

    p {
      margin-bottom: 10px;
    }
  }
}