.section {
    width: 100%;
    display: flex;
    position: relative;
    clip-path: rect(0 0 100% 100%);
}

.contentWrapper {
    margin: auto;
    max-width: 1536px;
    width: 100%;
    padding: 0 20px;
    display: flex;
}