@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.title {
  display: flex;
  margin: 0 20px;
  user-select: none;
  align-self: center;
  text-wrap: balance;
}

.titleLarge {
  font-size: 60px;

  @media (max-width:959px) {
    display: relative;
    font-size: 7.3vw;
    margin-right: 0;
  }
}

.titleMedium {
  font-size: 30px;

  @media (max-width:959px) {
    display: relative;
    font-size: 6.0vw;
    margin-right: 0;
  }
}

.titleSmall {
  font-size: 20px;

  @media (max-width:959px) {
    display: relative;
    font-size: 5.5vw;
    margin-right: 0;
  }
}